        h1, h2 {
            font-size: 24px; /* ერთნაირი ზომა */
        }
        h1 {
            font-weight: 700; /* bold */
        }
        h2 {
            font-style: italic; /* italic */
            font-weight: 400; /* normal */
        }