/* 1) შექმენით loading ანიმაცია. */
/* body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
}

.loader {
  position: relative;
  width: 120px;
  height: 120px;

  animation: rotate 2s linear infinite;
}

.loader span {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #22d3ee;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: -40px 0;
}

.loader span:nth-child(1) { transform: rotate(0deg) translateX(40px); opacity: 1; }
.loader span:nth-child(2) { transform: rotate(45deg) translateX(40px); opacity: .9; }
.loader span:nth-child(3) { transform: rotate(90deg) translateX(40px); opacity: .8; }
.loader span:nth-child(4) { transform: rotate(135deg) translateX(40px); opacity: .7; }
.loader span:nth-child(5) { transform: rotate(180deg) translateX(40px); opacity: .6; }
.loader span:nth-child(6) { transform: rotate(225deg) translateX(40px); opacity: .7; }
.loader span:nth-child(7) { transform: rotate(270deg) translateX(40px); opacity: .8; }
.loader span:nth-child(8) { transform: rotate(315deg) translateX(40px); opacity: .9; }

@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
} */



/* 2) შექმენით Bounce Loader ანიმაცია. */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

.Bounce-Loader {
  display: flex;
  gap: 10px;
}

.Bounce-Loader span {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;

  animation: bounce 0.6s infinite alternate;
}

.Bounce-Loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.Bounce-Loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.3;
  }
  to {
    transform: translateY(-15px);
    opacity: 1;
  }
} */

/* 3) შექმენი Spin — „ტრიალი“ ანიმაცია */
/* .spin {
  width: 80px;
  height: 80px;
  border: 8px solid #e0e0e0;
  border-top: 8px solid #3b82f6;
  border-radius: 50%;
  margin: 100px auto;

  animation: spin 1s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
} */

/* 4) https://www.frontendmentor.io/solutions/product-preview-card-component-p4gvY0HbdI */
/* 5) https://www.frontendmentor.io/solutions/qr-code-card-component-with-css-grid-and-flexbox-tNA1qYQf7R */