/*! 1) კომენტარების სახით ახსენით z-index */
/* * z-index არის CSS თვისება, რომელიც განსაზღვრავს ელემენტების დალაგების რიგს სივრცეში Z ღერძზე — ანუ, რომელი ელემენტი გამოჩნდება ზემოდან და რომელი ქვემოდან, როდესაც ისინი ერთმანეთზე დევს. */
/*! 2) შექმენი ორი დივი, ორივე 100×100px. */
/*! მოათავსე ისე, რომ ერთი იყოს მეორეზე ნახევრად. */
/*! დაალაგე ისე, რომ წითელი იყოს ზემოთ. */
/* .red { */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
/* } */
/* .blue { */
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: blue; */
/* } */
/*! 3) შექმენი სამი სურათი, რომლებიც ერთმანეთს ფარავენ. */
/*! გააკეთე ისე, რომ მესამე სურათი იყოს ყველაზე ზემოთ. */
/* .container { */
    /* position: relative; */
    /* width: 400px; */
    /* height: 300px; */
    /* border: 2px solid #333; */
  /* } */
/*  */
  /* .box { */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
  /* } */
/*  */
  /* .box1 { */
    /* background-color: rgb(255, 0, 0,0.6); */
    /* z-index: 1; */
  /* } */
/*  */
  /* .box2 { */
    /* background-color: rgba(0, 255, 0, 0.6); */
    /* z-index: 2; */
  /* } */
/*  */
  /* .box3 { */
    /* background-color: rgba(0, 0, 255, 0.6); */
    /* z-index: 3; */
  /* } */
/*! 4) კომენტარების სახით ახსენით Linear Gradient */
/* Linear Gradient — ეს არის ფონის ან ფორმის შეფერადების ტიპი,
   სადაც ერთი ფერი თანდათან გადადის მეორეში პირდაპირი ხაზის გასწვრივ */

/* გრადიენტის მიმართულება შეიძლება იყოს განსაზღვრული:
   - როგორც მიმართულება (მაგ. to right, to bottom, to top left)
   - ან კუთხით (მაგ. 45deg, 180deg და ა.შ.) */

/* მაგალითად: */
/* background: linear-gradient(to right, red, blue); */
/* ზემოთ მოცემული ნიშნავს:
   ფონი დაიწყება მარცხნივ წითელი ფერით (red)
   და თანდათან გადავა მარჯვნივ ლურჯ ფერში (blue) */

/* შესაძლებელია მეტი ფერის გამოყენებაც: */
/* background: linear-gradient(to bottom, red, yellow, green); */
/* ეს ნიშნავს:
   ზემოდან ქვემოთ წითელიდან ყვითელში, შემდეგ მწვანეში გადასვლა */

/* ასევე შეგვიძლია ფერების ზუსტი მდებარეობის მითითება პროცენტულად: */
background: linear-gradient(red 0%, yellow 50%, green 100%);
/* აქ 0% ნიშნავს გრადიენტის დასაწყისს, 100% — დასასრულს */

/* Linear Gradient ხშირად გამოიყენება:
   - ღილაკების, ფონების, ჩარჩოების გასალამაზებლად
   - ტექსტის ან ელემენტების ეფექტურად გამოსაყოფად */

/*! 5) გააკეთე ფონი, რომელიც გადადის წითელიდან ყვითელამდე. */
/* body { */
    /* background: linear-gradient(red, yellow); */
/* } */
/*! 6) გააკეთე gradient ზოლით მარჯვნიდან მარცხნივ, ლურჯიდან თეთრამდე. */
/* .div6 { */
    /* background: linear-gradient(to left, blue, white); */
    /* width: 100%; */
    /* height: 100px; */
/* } */
/*! 7) გააკეთე ღილაკი, რომლის ფონი გადადის მწვანედან ღია მწვანემდე. */
/* button { */
    /* background: linear-gradient(green, lightgreen); */
    /* border: none; */
    /* color: white; */
    /* padding: 10px 20px; */
/* } */
/*! 8) კომენტარების სახით ჩამოთვალეთ და ახსენით ყველა ასზომი ერთეული რაც ისწავლეთ. */
/*
  CSS-ის ზომის ერთეულები:
1) px — პიქსელი; ფიქსირებული ზომა ეკრანის პიქსელებით.
2) % — პროცენტი; დამოკიდებულია მშობელი ელემენტის ზომაზე.
3) em — დამოკიდებულია ელემენტის საკუთარი შრიფტის ზომაზე.
4) vw — Viewport Width; ეკრანის სიგანის პროცენტი (1vw = 1% სიგანისა).
5) vh — Viewport Height; ეკრანის სიმაღლის პროცენტი (1vh = 1% სიმაღლისა).
*/
/*! 9) გააკეთე დივი, რომლის სიგანე არის მშობლის 50%. */
/* .div9 { */
  /* width: 50%; */
  /* height: 100px; */
  /* background: lightblue; */
/* } */
/*! 10) გააკეთე ტექსტი, რომლის ზომა არის 2rem. */
/* p { */
  /* font-size: 2rem; */
/* } */
/*! 11)  კომენტარების სახით ახსენით Media Query */
/* 
Media Query — ეს არის CSS-ის მექანიზმი, რომელიც საშუალებას გვაძლევს 
შევცვალოთ ელემენტების სტილი ეკრანის ზომის ან მოწყობილობის ტიპის მიხედვით.

მაგალითად, შეგვიძლია ვუთხრათ ბრაუზერს:
"თუ ეკრანის სიგანე ნაკლებია 500px-ზე, გამოიყენე ეს სტილები".
*/
/*! 12) გააკეთე დივი, რომლის ფერი არის მწვანე. */
/*! თუ ეკრანი 500px-ზე ნაკლებია — გახდეს წითელი. */
.color-box {
  width: 200px;
  height: 200px;
  background-color: green; /* ნაგულისხმევად მწვანე */
}

/* თუ ეკრანის სიგანე ნაკლებია ან ტოლია 500px */
@media (max-width: 500px) {
  .color-box {
    background-color: red; /* გახდეს წითელი */
  }
}

/*! 13) შექმენი სათაური (h1), რომელიც პატარა ეკრანზე ცენტრში დგას, დიდზე კი მარცხნივ. */
.responsive-title {
  text-align: left; /* დიდ ეკრანზე მარცხნივ */
}

/* პატარა ეკრანებზე */
@media (max-width: 500px) {
  .responsive-title {
    text-align: center; /* გახდეს ცენტრში */
  }
}
/*! 14) გააკეთე სურათი, რომელიც დიდ ეკრანზე 400px სიგანისაა, პატარა ეკრანზე კი 200px. */
.responsive-img {
  width: 400px; /* დიდ ეკრანზე */
}

/* პატარა ეკრანზე */
@media (max-width: 500px) {
  .responsive-img {
    width: 200px; /* გახდეს 200px */
  }
}
/*! 15)  შექმენი ბლოკი, რომელიც უჭერს 80% ფართის კონტეინერისა და მინიმუმ min-width: 300px; შემდეგ შექმენი ნახევარი ეკრანის სიმაღლე height: 50vh. */
.size-box {
  width: 80%;          /* კონტეინერის 80% */
  min-width: 300px;    /* მინიმუმ 300px */
  height: 50vh;        /* ეკრანის ნახევარი სიმაღლე */
  background-color: lightblue;
}x