/* 1) https://www.frontendmentor.io/challenges/social-links-profile-UG32l9m6dQ
2) https://www.frontendmentor.io/challenges/blog-preview-card-ckPaj01IcS
3) https://www.frontendmentor.io/challenges/product-preview-card-component-GO7UmttRfa
4) https://cssbattle.dev/play/v96au5HfYn47RJcyOT89
5) https://cssbattle.dev/play/R8uThgnajcfrqebremgi */
/* i hate this cssbattles and frontend mentors */